@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*---CODE---*/

body {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    color: black;
    background-color: #555;
    width: 100%;
}

.bigContainer {
    display: flex;
    flex-direction: column;
    background-color: white;
    overflow: hidden;
}

.headerMain {
    background-color: #ff7979;
    border-radius: 0 0 100px;
    width: 100px;
    height: 100px;
    position: relative;
}

.menu {
    filter: invert(1);
    padding: 30px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    
}

main {
    margin: 110px auto;

}

.contentTop {
    padding: 0 50px 0 50px;
    width: 100vw;
    height: 100vw;
    line-height: 1.5; /*tamaño del interlineado*/
}



h1 {
    
    font-weight: bold;
    font-size: 30px;
}

small {
    color: #555;
    font-size: smaller;
    font-style: italic;
    margin: 6px;
}

p {
    padding: 20px 0;
    
}

img {
    width: 100%;
    
}

/* .contentNav {

} */

.contentNav li  {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 20px;
    cursor: pointer;
}

.contentNav li+li {
    margin: 35px;
}

.contentNav li+li+li {
    margin: 50px;
}

.contentNav svg {
    filter: invert(1);
    width: 20px;
    height: 30px;
}

.contentNav a {
   color: white;
    text-decoration: none;
}

.contentNav a:hover {
    color: #ff7979;
    transition: all 0.3;
}

.bigContainer.showmenuNav {
    transform: rotate(-20deg);
}