@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*---CODE---*/

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    color: black;
    background-color: #555;
    width: 100%;
}

.bigContainer {
    display: flex;
    flex-direction: column;
    background-color: white;
    overflow: hidden;
    transition: transform 1s ease, margin 1s ease;
}

.bigContainer.showmenuNav {
    transform: rotate(-20deg);
    margin-top: -170px;
    margin-left: 120px;
}

.headerMain {
    background-color: #ff7979;
    border-radius: 0 0 100px;
    width: 100px;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000; /*asegura que este encima de los otros elementos*/
}

.menu {
    filter: invert(1);
    padding: 30px;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

main {
    margin-top: 120px; /*evita la superposicion con el headerMain*/
    padding: 0 50px;
}

.contentTop {
    line-height: 1.5; /*tamaño del interlineado*/
}

h1 {
    font-weight: bold;
    font-size: 30px;
}

small {
    color: #555;
    font-size: smaller;
    font-style: italic;
    margin: 6px;
}

p {
    padding: 20px 0;
}

img {
    width: 100%;
}

.contentNav {
    position: fixed;
    bottom: 40px;
    left: 0;
    z-index: 100;
    gap: 10px;
}

.contentNav li  {
    display: flex;
    margin-left: 10px;
    cursor: pointer;
    transform: translateX(20%);
    transition: all 2s ease;
}

.contentNav li+li {
    margin-left: 20px;
    transform: translateX(40%);
}

.contentNav li+li+li {
    margin-left: 30px;
    transform: translateX(60%);
}

.contentNav svg {
    filter: invert(1);
    width: 20px;
    height: 30px;
}

.contentNav a {
    color: white;
    text-decoration: none;
}

.contentNav a:hover {
    color: #ff7979;
    transition: all 0.3;
}

#close {
    display: none;  /* Ocultamos por defecto el botón de cerrar */
}

/* Cuando el menú está activo y rotado */
.bigContainer.showmenuNav #open {
    display: none;
}

.bigContainer.showmenuNav #close {
    display: block; /* Mostramos el botón de cerrar */
}

/* Controlar la visibilidad del contentNav */
.contentNav {
    display: none;
}

.bigContainer.showmenuNav ~ .contentNav {
    display: flex; /* Usamos flex para asegurar que el contenido interno esté bien alineado */
}